.cover-index {
  background-image: url("building.jpg");
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .search {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    i {
      position: absolute;
      top: 18px;
      left: 11px;
    }
  }
}

.pagination {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}


.card {
  display: flex;
  margin-bottom: 0.9375rem;
  font-size: .9375rem;
  line-height: 1.5;
  a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    justify-content: space-around;
  }
  .description-side{
    display: block;
    ul {
      padding-left: 0;

    }
    li {
      list-style: none;
      border-bottom: none;
    }
  }
}


.avatar {
  border-radius: 0;
  width: 100%;
}



