<h1>Yeahhhhhh</h1>
<h1>Ajoute un nouveau restau my maaan ! </h1>



<%= simple_form_for ([:student, @offer, @application]) do |f| %>
  <%= f.input :description, as: :text %>
  <%= f.input :dossiers,
                 as: :file,
                required: true,
                autofocus: true,
                input_html: { multiple: true, autocomplete: "photo"} %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
