<h1>Yeahhhhhh</h1>
<h1>Ajoute un nouveau restau my maaan ! </h1>



<%= simple_form_for ([:student, @offer, @application]) do |f| %>
  <%= f.input :description, as: :text %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
