<div class = "home-banner">

  <%= link_to "Explore flats !", offers_path, class: "home-button" %>

</div>

<div class = "card-home">
  <div class = "container-home">

    <div class = "card-home-column">
      <div class = "image-card-home1">
      </div>
      <div class = "text-card-home-top">
        <h3>Discover other horizons</h3>
        <p>Stay in a new space with absolute comfort</p>
      </div>
    </div>

     <div class = "card-home-column">
      <div class = "image-card-home2">
      </div>
      <div class = "text-card-home-top">
        <h3>Travel easily</h3>
        <p>In just a few clicks you accommodate yourself</p>
      </div>
    </div>

     <div class = "card-home-column">
      <div class = "image-card-home3">
      </div>
      <div class = "text-card-home-top">
        <div>
          <h3>Stay safe</h3>
          <p>Stay in a new space with safety and measures</p>
        </div>
      </div>
    </div>


  </div>
</div>


<Select>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</Select>



<script>
jQuery('#Example').change(function(){
    var value = jQuery('#Example').val(); //it gets you the value of selected option
    console.log(value); // you can see your sected values in console, Eg 1,2,3
});
</script>
