<div class="confident-banner"></div>


<!-- 3D Slideshow Section -->
<section id="slideshow">
			<div class="entire-content">
				<div class="content-carrousel">
					<figure class="shadow"><a href="https://major-prepa.com/"  target="_blank"><%= image_tag "major_prepa.png"%></a></figure>
					<figure class="shadow"><a href="https://www.audencia.com/"  target="_blank"><%= image_tag "Audencia_yeah.jpg"%></a></figure>
					<figure class="shadow"><a href="https://www.pepite-france.fr/"  target="_blank"><%= image_tag "pepite_ent"%></a></figure>
					<figure class="shadow"><a href="https://www.planetegrandesecoles.com/" target="_blank"><img src="https://www.planetegrandesecoles.com/wp-content/uploads/2020/09/2-3.png"/></a></figure>
					<%# <figure class="shadow"><img src="https://images.pexels.com/photos/54630/japanese-cherry-trees-flowers-spring-japanese-flowering-cherry-54630.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
					<figure class="shadow"><img src="https://images.pexels.com/photos/131046/pexels-photo-131046.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
					<figure class="shadow"><img src="https://images.pexels.com/photos/302515/pexels-photo-302515.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
					<figure class="shadow"><img src="https://images.pexels.com/photos/301682/pexels-photo-301682.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure>
					<figure class="shadow"><img src="https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"/></figure> %>
		</div>
	</div>
</section>
