<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome la team <%= @company.name %>, </h1>
    <p>
      Vous êtes bien inscrits à Trainee + !
    </p>
   <br>
   <p>Vous trouverez également en pièce jointe les conditions d'utilisation générales de la plateforme.</p>
   <br>
    <p>
      Pour vous connecter accédez au lien suivant:
      <%= @url %>
    </p>
  </body>
</html>
