

#offer_duration {
  width: 30%;
}

#offer_salary {
  width: 30%;
}


.yeah2 {

  i {

    position: relative;
    top: -46px;
    right: -120px;
    height: 20px;
  }
}

#new_offer {
  padding: 10px;
  margin: 10px;
}


#offer_description {
  height: 387px;
}
