.containun {
  display: flex;
justify-content: space-between;
align-items: center;
margin: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.descriptionun {
  font-size: 2px;

  .ef {
    font-size: 12px;
  }
  .eg {
    font-size: 10px;
    width: 253px;
  }

  i {
    cursor: pointer;
  }
}

.formun {
  height: fit-content;
  background-color: white;
  display: flex;
  width: 355px;
  position: relative;
  bottom: 99px;
  margin: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  justify-content: space-evenly;

  form {
    line-height: 0;
  }


}


.opaqe {
  height: 449px;
  background-color: #f8f9fa;
  opacity: 50%;
  position: relative;
  top: -179px;
}






#formd {
  .nomprenom{

    display: flex;
  }

  .form-label {
    display: none;
  }

  .form-control{
   font-size: 9px;
   padding: 0;
  }

  #student_description {
    width: 268px;
    height: auto;
  }
  #student_first_name {

    font-size: 17px;
    width: 150px;
  }

  .student_last_name {
    margin-left: 12px;
  }
  #student_last_name {

    font-size: 17px;
    width: 150px;
  }

  #student_school {
  font-size: 12px;
  padding: 0;
  width: 60%;
  }
#student_profile{
  font-size: 12px;
  padding: 0;
  width: 60%;
}

  #student_current_password {
    width: auto;
  }
  .form-text {
    font-size: 11px;
      margin-top: 1.25rem;
  }

  .form-actions {

    .btn {
      font-size: 11px;
    }
  }
}


#yeaquatre{
  border-color: transparent;
  margin-left: 3px;
  height: 22px;
  /* color: black; */
  background-color: $light-gray;
}


.yh {
  display: flex;
  .mb-3{
    width: 103%;
  }
  i {
    font-size: 8px;
    position: relative;
    /* left: 20px; */
    right: 129px;
  }
}
