.card-shower-offer {

  display: flex;
  justify-content: space-evenly;

  .picture {
    display: flex;
    justify-content: center;
  }

  .list3 {
    position: relative;
    left: 6px;
    margin-top: 0px;
    opacity: .7;
    font-size: small;
    ul {
      margin: 0;
    padding-left: 0;
    line-height: 1.4rem;

    }

   li p {
    margin: 0;
   }
  }
}

.picture-cardshow {
  height: 135px;
  width: 225px;
  background-image: url("rectangle.png");
  background-size: cover;
  background-position: center;
}


.list3 ul li  {
  list-style: none;
}

.description2 {
  .picture {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.card-title {
  padding: 10px;
  margin: 10px;
}


.li1 {
  display: flex;
  justify-content: space-around;
}


.card-description-offre {
  padding: 10px;
  margin: 10px;
  text-align: justify;
  margin-top: 30px;
}



.deuxbuttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.container-form-apply {
  .simple_form {
    padding: 10px;
    margin-bottom: 17px;
  }
}


.container-form-applyn {
  .d-flex{
    margin-bottom: 30px;
    justify-content: space-evenly;
  }

  .deuxbouttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .yeahh h2{
    margin: 10px;
    padding: 10px;
}
}


.card-description {
  margin-bottom: .25rem;

}

p.card-description {
  overflow: scroll;
  width: 24em;
  height: 12em;
  margin-bottom: 3px;
  margin-top: 14px;
}



.cardbook {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  justify-content: space-evenly;
  margin-bottom: 18%;


  .card-show {



    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}



  .book-show {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position : sticky;
    top: 30px;
    height: 290px;
    padding: 10px;

    .btn {
      padding: 10px;
    }

  }
}


.open-popup {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);

}



.yeahd{
  display: flex;
  justify-content: center;
}
.yeahh {
  height: 300px;
  background-color: $white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: $black;
  padding-top: 20px;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 123%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    padding-top: 60px;
  }
.deuxbouttons a {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: $green;
    border-radius: 6px;
    outline: none;
  }
}


.opaq {
  width: 100%;
  position: absolute;
  background-color: $white;
  height: 194%;
  top: 0%;
  z-index: auto;
}


.card-logo img {
  width: 80px;
  height: 80px;
}


.form-control rich_text_area{
  height: 800px;
}
