<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Bienvenue à Trainee + <%= @student.first_name %></h1>
    <p>
      Tu viens de t'inscrire avec succès avec ton adresse mail : <%= @student.email %> <br>
    </p>
    <br>
       <p>Tu trouveras également en pièce jointe les conditions d'utilisation générales de la plateforme.</p>
    <br>
    <p>
      Pour te connecter à ton espace étudiant : <%= @url %>
    </p>

  </body>
</html>
